{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{ parent() }} | Produits{% endblock %}

{% block body %}
    <div class="row">
        {% block admin_sidebar %}{{ parent() }}{% endblock %}
        <div class="col">
            <h1 class="text-center">Produits</h1>

            <a href="{{ path('products_new') }}"><button class="btn btn-primary mb-3">Créer un produit</button></a>

            <table class="table bg-light rounded">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Sku</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Stock</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    {% set stock = product.stock %}
                    <tr  {% if stock == 0 %} class="dashboard_column_out_of_stock" {% endif %} >
                        <td>{{ product.id }}</td>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.image }}</td>
                        <td>{% if stock == 0 %}
                                Rupture de stock
                            {% else %}
                                {{ stock }}
                            {% endif %}

                        </td>
                        <td>
                            <div class="row">
                                <a class="col-6" href="{{ path('products_edit', {'id': product.id}) }}"><button class="btn btn-success">Modifier</button></a>
                                <div class="col-6">
                                {{ include('admin/products/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun produits</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

 {% endblock %}
