<header class="d-flex flex-lg-row flex-column align-items-center justify-content-center">
        <a class="col-lg-7 col-12 d-flex text-center" href="{{ path('home') }}">
            <h1 class="ms-lg-4">Superheroes shop</h1>
        </a>
        </div>

    {% if path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) == '/' %}
        {{ form(form, {'attr': {'class': 'd-flex justify-content-center col-lg-2 col-12 my-2'}}) }}
        {% else %}
        <div class="col-lg-2 col-12"></div>
    {% endif %}

     <ul class="d-flex align-items-center mb-0 col-lg-3 col-12 justify-content-lg-end justify-content-center
     pt-1">
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">Administration</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li class="d-flex justify-content-center align-items-center"><a href="{{ path('register') }}">Inscription</a></li>
                <li><a href="{{ path('app_login') }}">Se connecter </a></li>
                <li>
                    <div id="minicart">
                        <a id="cart-navbar-icon" href="{{ path('cart') }}" class="me-lg-4 me-xl-4 ms-2 pb-lg-3 pb-xl-3"><i class="bi bi-cart-fill fs-3"></i></a>
                        {{ render(controller('App\\Controller\\CartController::getMinicart')) }}
                    </div>
                </li>
            {% endif %}
        </ul>
</header>

{# cart popin which appaears when adding a product #}



